@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

.comments--post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.comments--post-form button {
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 120px;
  height: 30px;
  background-color: #3500d3;
  outline: none;
  border: none;
  cursor: pointer;
}

.comments--post-form button:hover {
  background-color: #5226d6;
}

::placeholder {
  color: white;
  opacity: 50%;
}

.comments--post-box {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  text-align: top;
  height: 100px;
  background: rgb(121, 121, 121);
  border-bottom: 1px solid rgb(0, 0, 0);
  color: white;
  resize: none;
}

.comments--post-notlogged {
  margin-bottom: 40px;
}

.comments--all-comments-title {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}