@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

.createpost--container {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 22px;
  padding-bottom: 100px;
}

.createpost--container * {
  font-family: 'Open Sans', sans-serif;
}

.createpost--title {
  color: white;
  border-bottom: 2px solid white;

}

.createpost--form {
  display: flex;
  flex-direction: column;

  gap: 30px;
  width: 800px;
  height: 300px;
}

.createpost--form input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 2px;
}



.createpost--form-desc {
  display: flex;
  font-size: 14px;
  background-color: transparent;
  height: 150px;
  min-height: 150px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  resize: none;
  padding: 2px;
}

.createpost--form-file input[type=file]::file-selector-button {
  border: none;
  padding: 2px 4px;
  background-color: #a29bfe;
  transition: 0.1s ease-in;
}

.createpost--form-file input[type=file]::file-selector-button:hover {
  background-color: #928aff;
}

.createpost--form .button--submit {
  border: none;
  background-color: #a29bfe;
}

.createpost--form .button--submit:hover {
  background-color: #928aff;
}

.createpost--form-tags {
  display: flex;
  gap: 20px;
  align-items: center;
}

.createpost--all-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag--select {
  padding: 10px;
  width: 80px;
  background: none;
  color: white;
  border: 1px solid white;
  transition: all 0.2s ease-in;
}

.select:hover {
  border: 1px solid rgb(214, 149, 255);
  color: rgb(214, 149, 255);
}

.selected {
  background: rgb(214, 149, 255);
}

@media (max-width: 800px) {
  .createpost--form {
    width: 80vw;
  }
}