/*
  Attribution for search icon 

  https://toppng.com/free-image/free-icons-png-instagram-search-icon-white-PNG-free-PNG-Images_181197
*/

.home--main {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
}

.home--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.home--query {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.home--query-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home--query-search {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 2px;
  padding-left: 25px;
}

.home--query-form input {
  accent-color: #3500d3;
}

.home--filters-title {
  border-bottom: 1px solid white;
}

.home--genre-query {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home--post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: baseline;
}

.home--left-no-posts {
  color: gray;
}

.home--more-post-btn {
  background-color: #3500d3;
  color: white;
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
}

.home--query-search-icon {
  width: 15px;
  position: relative;
  left: 15px;
  top: 2px;
}