.home--main {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
}

.home--left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--query {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.home--query-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home--genre-query {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home--post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: baseline;
}

.home--left-no-posts {
  color: gray;
}