@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

.post--container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;

  padding: 20px;

  height: 100%;

  color: rgb(255, 255, 255);
}

.post--main-container {
  min-height: 330px;
  padding-bottom: 20px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-bottom: 1px solid gray;
  margin-bottom: 40px;

}

.post--main-top-portion {
  align-items: bottom;
  font-size: 28px;
}

.post--main-top-portion p {
  font-size: 15px;
  color: rgb(152, 165, 252);
}

.post--main-desc {
  align-self: center;
}

.post--audio {
  filter: sepia(100%) saturate(400%) grayscale(0) contrast(200%) hue-rotate(358deg) invert(99.4444%);
  width: 400px;
  min-height: 1.875rem;
  max-height: 1.875rem;
}

.post--info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post--likes {
  font-size: 20px;
}

.post--edit {
  display: flex;
  gap: 10px;
  color: #8a8a8a;
}

.post--edit p {
  cursor: pointer;
}

.like--select {
  padding: 10px;
  width: 60px;
  height: 40px;
  background: none;
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  transition: all 0.2s ease-in;
}

.like:hover {
  border: 1px solid #cc4b37;
  color: #cc4b37;
}

.liked {
  background: #cc4b37;
  border: 1px solid #cc4b37;
  color: white;
}

.post--title-and-tags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post--not-exist {
  align-self: center;
  margin: auto;
  font-weight: 300;
}