.profile--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr calc(100% - 1fr);
  padding: 50px;
}

.mainprofile--container {
  grid-column: 1 / -1;
}

.mainprofile--username {
  border-bottom: 0.1px solid white;
}

.mainprofile--content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 10px;
}

.mainprofile--contact-text {
  font-weight: 200;
}

.mainprofile--bio-text {
  font-weight: 200;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.mainprofile--edit {
  color: #8a8a8a;
  cursor: pointer;
  width: 30px;
}

.mainprofile--verify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  width: 290px;
  height: 30px;
}

.mainprofile--verify-txt {
  font-weight: 400;
  font-size: 22px;
  color: rgb(220, 220, 220);
  margin-right: 10px;
}

.mainprofile--verify-btn {
  width: 50px;
  height: 22.5px;
  border: none;
  background-color: #3500d3;
  color: white;
  cursor: pointer;
}

.mainprofile--verify-btn:hover {
  background-color: #481bcd;
}

.mainprofile--verify-btn:active {
  background-color: #754dec;
}

.profile--posts {
  justify-self: center;
}

.profile--button-container {
  display: flex;
  justify-content: center;
}

.profile--button-container button {
  width: 80px;
  border: none;
  background-color: #3500d3;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.profile--posts-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
}

.profile--likes {
  justify-self: center;
}

.profile--likes-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
}

.profile--user-not-exist {
  align-self: center;
  margin: auto;
  font-weight: 300;
}

@media (max-width: 1000px) {
  .profile--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}