@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

.navbar--container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 50px;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #190061;
  color: white;
}

.navbar--container a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.navbar--links {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 20px;
}

.navbar--links img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar--links a {
  font-size: 20px;
  text-decoration: none;
  background-color: #190061;
  color: white;
}

.navbar--left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar--left .navbar--create-post {
  font-size: 14px;
  color: rgb(152, 165, 252);
}

.navbar--create-post:hover {
  color: rgb(178, 188, 255);
}

.navbar--username {
  transition: color 0.1s ease-in;
}

.navbar--username:hover {
  color: rgb(225, 229, 255);
}