.comment--container {

  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comment--username {
  color: rgb(152, 165, 252);
}

.comment--main {
  border-left: 1px solid rgb(152, 165, 252);
}

.comment--main-text {
  margin-left: 10px;
}

.comment--edit {
  display: flex;
  gap: 8px;
}

.comment--edit p {
  color: gray;
  cursor: pointer;
}

.postcomment--replies {
  display: flex;
  flex-direction: column;
}