.reply--username {
  color: rgb(152, 165, 252);
}

.reply--container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.reply--container:last-child {
  margin-bottom: 0;
}

.reply--description {
  border-left: 1px solid rgb(152, 165, 252);
  padding-left: 10px;
}

.reply--create p {
  color: gray;
  cursor: pointer;
}