.app--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0c0032;
  overflow: auto;
  color: white;
}

* .user-link {
  cursor: pointer;
  width: 30px;
}

* .user-link:hover {
  color: rgb(178, 188, 255);
}