@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

.app--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0c0032;
  overflow: auto;
  color: white;
}

* .user-link {
  cursor: pointer;
  width: 30px;
}

* .user-link:hover {
  color: rgb(178, 188, 255);
}

* button {
  font-family: 'Open Sans', sans-serif;
}