@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

.navbar--container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 50px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #190061;
  color: white;
}

.navbar--container a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.navbar--links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar--links img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar--links a {
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(133, 95, 24);
  color: white;
}