.comment--container {
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comment--username {
  color: rgb(152, 165, 252);
}

.comment--main {
  border-left: 1px solid rgb(152, 165, 252);
}

.comment--main-text {
  margin-left: 10px;
}